<nav class="navigation">
  <h1>{{ title }}</h1>
  <button class="logout-btn" (click)="logOutUser()" mat-button>
    <mat-icon class="log-out">logout</mat-icon>
  </button>
</nav>
<div class="container" >
  <button (click)="openDialogToAdd()" class="add-btn" mat-button>
    <mat-icon>add</mat-icon>
  </button>
  <mat-card class="custom-card"  >
    <mat-card-title style="color: rgba(0, 128, 0, 0.374)">
      {{ subtitle }}
    </mat-card-title>
    <mat-card-content class="content" *ngFor="let details of userDetails">
      <table class="center-table">
        <thead>
          <tr>
            <td class="emails">EMAILS</td>
            <td>HINTS</td>
            <td class="password">PASSWORDS</td>
          </tr>
        </thead>
        <tbody>
          <tr class="row-container">
            <td class="email-cell">Email : {{ details.email }}</td>
            <td>Hint : {{ details.hint }}</td>
            <td class="password-cell">
              Password : {{details.password }}
            </td>

            <td>
              <button class="decrypt-btn">Decrypt</button>
              <button class="delete-btn" mat-button>
                <mat-icon>delete</mat-icon>
              </button>
            </td>
            <pre></pre>
          </tr>
          <tr>
            <td class="message">
              <button class="dropdown" (click)="getSpecificIdToDropDown(details.id)">
                View Memo
              </button>

              <div class="">
                <div *ngIf="showDropDown">
                  <mat-card>
                    <mat-card-content class="drop-container">
                      <div>
                        {{details.message}}
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
    <!-- <mat-card-actions>
      DECRYPT
    </mat-card-actions> -->
    <mat-card-footer> FOOTER </mat-card-footer>
  </mat-card>
</div>
