<nav class="navigation">
  <h1>{{ title }}</h1>
  <button class="logout-btn" (click)="logOutUser()" mat-button>
    <mat-icon class="log-out">logout</mat-icon>
  </button>
</nav>
<div class="container" >
  <button (click)="openDialogToAdd()" class="add-btn" mat-button>
    <mat-icon>add</mat-icon>
  </button>
  <mat-card class="custom-card"  >
    <td class="upper_button">
      <button class="dropdown" (click)="toggleDropdown()">
        View Memo
      </button>
      <span style="margin-right: 10px;"></span>

      <button class="decrypt-btn">Decrypt</button>

    </td>

    <mat-card-title style="color: rgba(0, 128, 0, 0.374);font-size: 14px">
      {{ subtitle }}
    </mat-card-title>
    <mat-card-content class="content" >
      <table class="center-table">
        <thead>
          <tr>
            <td class="emails">EMAILS</td>
            <td>HINTS</td>
            <td class="password">PASSWORDS</td>
          </tr>
        </thead>
        <tbody *ngFor="let details of userDetails">
          <tr class="row-container">
            <td class="email-cell">Email : {{ details.email }}</td>
            <td>Hint : {{ details.hint }}</td>
            <td class="password-cell">
              Password : {{details.password }}
            </td>

            <td>

              <button class="delete-btn" (click)="deleteEmailPassCombo(details.email)" mat-button>
                <mat-icon>delete</mat-icon>
              </button>
            </td>
            <pre></pre>
          </tr>
          <tr>
            <td class="message">
              <button class="available" (click)="getSpecificIdToDropDown(details.email)">
                Availability
              </button>

              <div class="">
                <div *ngIf="showDropDown" class="memoboard">
                  <mat-card style="background-color: black;">
                    <mat-card-content class="drop-container">
                      <div>
                        {{details.message}}
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
    <!-- <mat-card-actions>
      DECRYPT
    </mat-card-actions> -->
    <mat-card-footer> FOOTER </mat-card-footer>
  </mat-card>
</div>
