<form [formGroup]="loginForm"  autocomplete="off">
  <h1>{{ title }}</h1>

  <div class="form-control">
    <label for="username">Username</label>
    <input
      formControlName="username"
      id="username"
      autocomplete="off"
      type="text"
    />
  </div>

  <div class="form-control">
    <label for="password">Password</label>
    <input
      formControlName="password"
      id="password"
      autocomplete="off"
      type="password"
    />
  </div>
  <p style="color: red">{{ invalidInfo }}</p>
  <div class="button-container">
    <button type="submit" class="btn-login" (click)="login()">Login &#8594;</button>
    <span class="button-spacing"></span>
    <button class="btn" type="button" (click)="signUp()">
      Sign Up &#x2302;
    </button>
  </div>
</form>
